html,body {margin: 0px; padding: 0px; height: 100px;}
        
body{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
/*aqui comeÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§a o menu-1*/
        
#menu-1 {
    bottom: 15%;
}
        
#menu-1 ul li {
    display: inline;
}
        
#menu-1 ul {
    list-style: none;
    height: 43px;
    padding: 0;
    margin: 0;
    background-color: #f1285c;
}
        
#menu-1 ul a {
    color: #d8f4ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 9px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}
        
#menu-1 ul a:hover {
    border-bottom: 6px solid #ffffff;
    transition: ease;
}
        
#menu-1 h1 {
    color: rgb(255 255 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin: 0%;
    text-align: right;
    padding: 13px;
    display: inline-block;
    text-decoration: none;
}
/*aqui termina o menu-1*/
        
img {
    width: 75px;
    height: 75px;
}
        
button {
    /* width: 80px; */
    height: 30px;
    background: red;
    font-family: monospace;
    font-size: 11px;
    /* border-radius: 10px; */
 }
        
h3 {
    bottom: 2px solid rgb(0, 0, 0);
}
    
th {
    color: rgb(41 41 41);
    text-align: center;
    font-size: 19px;
    font-family: monospace;
    border-style: solid;
    border-width: 0.1px;
}
.box{
    position: relative;
    width: 77%;
    /* height: 500px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: -13px;
    padding: 1px;
    /* background-color: rgb(249 249 249); */
    /* border-style: solid; */
    /* border: 6px; */
    border-width: 1px;
}
        
.infos {
    margin-top: 1%;
    width: 94%;
    /* border-radius: 95px; */
    margin-bottom: 1.15em;
    /* table-layout: fixed; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(224 224 224 / 57%);
    border-style: solid;
    /* border: #000000; */
    border-width: 1px;
}
.nome {
    width: 25%;
    font-size: 17px;
}
        
#Nome {
    font-size: 18px;
    font-family: monospace;
}
        
#container {
    background-color: rgb(195 195 195);
}
.btn-confirmar{
    width: 100px;
    border-radius: 4px;
}
.btn-remover{
    width: 100px;
    border-radius: 4px;
}

.resumo{
    margin-bottom: 25px;

}
.resumo h1{
    text-align: center;
    font-size: 25px;
    color: #464646;
    font-family: monospace;
}
.box-resumo{
    width: 450px;
    height: 100px;
    border-radius: 10px 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1285c;
}
.box-resumo h1{
    color: white;
    font-size: 15px;
    text-align: left;
    line-height: 3;
    margin-left: 10px;
}

.rodape{
    position: relative;
    bottom: 0;
    margin-top: 495px;
    width: 100%;
    padding: 0.2px;
    background-color: #56b1de;
}

.rodape h1{
    font-family: 'Inconsolata', monospace;
    color: #0a2130;
    font-size: 20px;
    text-align: center;
}

