html,body {height: 100px; margin: 0px; padding: 0px;}

body {
    display: flex;
    background-image: url("../img/ceu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.corpo-frm{
    width: 400px;
    height: 550px;
    background-color: aliceblue;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px;
}
.corpo-frm h2{
    color: #323232;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
}

.frm-item{
    width: 172px;
    margin-right: auto;
    margin-left: auto;
}