html,body {height: 100px; margin: 0px; padding: 0px;}

body {
    display: flex;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}


/*aqui comeca o menu-1*/

#menu-1 ul li {
    display: inline;
}

#menu-1 ul {
    list-style: none;
    height: 43px;
    padding: 0;
    margin: 0;
    background-color: rgb(0 0 0 / 76%)
}

#menu-1 ul a {
    color: rgb(216 244 255);
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: monospace;
    margin: 0%;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

#menu-1 ul a:hover {
    background-color: #d8f4ff;
    color: #153e7c;
}

#menu-1 h1 {
    color: rgb(255 255 255);
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: monospace;
    font-size: 16px;
    margin: 0%;
    text-align: right;
    padding: 13px;
    display: inline-block;
    text-decoration: none;
}
/*aqui termina o menu-1*/


/*aqui comeca o menu-2*/
.menu-2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.menu-2 ul li {
    display: inline;
}

.menu-2 ul a {
    color: rgb(51, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    width: 24%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

.menu-2 ul a:hover {
    background-color: #d8f4ff;
}
/*aqui acaba o menu-2*/


/*textos de meio de site*/
.texto {
    padding: 20px;
    margin-top: 70px;
}

.texto h1 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    /* text-shadow: 2px 2px black; */
    font-family: 'Titillium Web', sans-serif;
}

.texto h2 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    /* text-shadow: 2px 2px black; */
    font-family: 'Titillium Web', sans-serif;
}
/* fim textos de meio de site*/



/*aqui comeca os produtos*/
.produtos {
    display: flex;
    height: 384px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: 135px;
}

.produto img {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    transition: transform 0.7s;
    transform: translateX(0px) scale(0.9);
}
.produto img:hover{
    width: 250px;
    height: 250px;
    transform: translateX(10px) scale(1.2);
}

.produtos h1 {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    color: rgb(36, 36, 36);
}
/*aqui termina os produtos*/



/*aqui comeca o painel de presentes*/
.painel-presentes-text h1 {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 7px;
    margin-bottom: -45px;
    color: rgb(39, 39, 39);
}

.painel-presentes {
    display: grid;
    padding: 30px;
    margin-top: 30px;
    margin: 50px auto;
    grid-template-columns: 200px 400px 600px;
    grid-template-rows: 150px 100px 100px;
    grid-gap: 1rem;
}

.item1 {
    background-color: #bae3f5;
    color: white;
    cursor: pointer;
    border-radius: 5px 20px 20px 20px;
}

.item2 {
    background-color: #4fa5d7;
    background-size: cover;
    cursor: pointer;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 20px 5px 20px 20px;
}

.item3 {
    background-color: #0093cc;
    background-size: cover;
    cursor: pointer;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 20px 20px 20px 5px;
}

.item4 {
    background-color: #d5e6ed;
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
}

.item5 {
    background-color: #90b2c6;
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
}

.item6 {
    background-color: #4fa5d7;
    cursor: pointer;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 15px 15px 5px 15px;
}
/*aqui termina o painel de presentes*/

.texto-logo h1{
    text-align: center;
    font-size: 53px;
    font-family: 'Titillium Web';
    color: rgb(66, 66, 66);
}

/*aqui comeca o painel de imagens*/
.painel-img {
   margin-left: 9%;
}

.painel-img img {
    width: 300px;
    max-width: 300px;
    height: 300px;
    background-size: cover;
    margin: 2%;
    margin-left: 4%;
    border-radius: 20px 70px 20px 70px;
    border: 0px solid;
    box-shadow: 7px 6px 5px #908d8d;
    transition: transform 0.7s;
    transform: translateX(0px) scale(0.9);
}
.painel-img img:hover{
    width: 300px;
    height: 300px;
    background-image: url("../img/instagram.png");
    transform: translateX(10px) scale(1.2);
}
.logo-img img{
    width: 100%;
    height: 350px;
    background-size: cover;
}
/*aqui termina o painel de imagens*/



/*aqui comeca o rodape*/
.rodape-info {
    display: flex;
    margin-top: 40px;
    width: 100%;
    background-color: #56b1de;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rodape-info a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.rodape {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(10 33 48);
}

.rodape h1 {
    font-family: 'Inconsolata', monospace;
    color: #56b1de;
    font-size: 20px;
    text-align: center;
}

.informacoes h1{
    text-align: center;
    color: #3b242a;
}

.informacoes-2 h1{
    text-align: center;
    color: #3b242a;
}
/*aqui termina o rodape*/
