html,body {height: 100px; margin: 0px; padding: 0px;}

body {
    display: flex;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}


/*aqui comeca o menu-1*/

#menu-1 ul li {
    display: inline;
}

#menu-1 ul {
    list-style: none;
    height: 58px;
    padding: 0;
    margin: 0;
    margin-top: -17px;
    line-height: 2;
    background-color: rgb(255 255 255 / 76%);
    border-bottom: 0.1px solid #dadada;
}

#menu-1 ul a {
    color: rgb(237 32 115);
    font-family: monospace;
    margin-right: -1%;
    margin-left: 112px;
    font-size: 19px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

#menu-1 ul a:hover {
    border-bottom: 6px solid #ffffff;
    transition: ease;
}

#menu-1 h1 {
    color: rgb(255 255 255);
    font-family: monospace;
    font-size: 18px;
    margin: 0%;
    text-align: center;
    /* padding: 13px; */
    /* display: inline-block; */
    text-decoration: none;
}
#menu-1 img{
    width: 50PX;
    height: 50px;
    background-size: cover;
    MARGIN-LEFT: auto;
    MARGIN-RIGHT: auto;
}
/*aqui termina o menu-1*/


/*aqui comeca o menu-2*/
.menu-2{
    width: 100%;
    height: 100px;
}
.menu-2 img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
/*aqui acaba o menu-2*/


/*textos de meio de site*/
.texto h2 {
    text-align: left;
    height: 7px;
    color: #f12760;
    margin-left: 115px;
    font-family: "proxima-nova", sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    background-image: linear-gradient( 75deg, #f2285c 0%, #f2295d 100%);
    -webkit-background-clip: text;
}

.texto img{
    display: flex;
    width: 435px;
    height: 401px;
    margin-left: 51%;
    margin-top: -79px;
}
/* fim textos de meio de site*/

.faixa-horizontal{
    background-color: #e91a80;
    background-image: linear-gradient(
    90deg, #ec1e77 0%, #f2295b 100%);
}
.faixa-horizontal h1{
    text-align: center;
    font-size: 68px;
    color: white;
    font-family: monospace;
    line-height: 2.1;
    padding: 0;
    margin-top: 0;
}
.faixa-horizontal h2{
    text-align: center;
    font-size: 21px;
    color: white;
    font-family: monospace;
    line-height: 2.1;
    padding: 0;
    margin-top: -77px;
}
#whatsapp  h1{
    position: fixed;
    top: 101%;
    width: 8em;
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    height: 2em;
    line-height: 2;
    margin-left: -39px;
    border-radius: 6px;
    margin-top: -2.5em;
    background-color: #0f9d58;
}  
#whatsapp img{
    width: 39px;
    height: 39px;
    position: fixed;
    top: 94.3%;
    left: 97px;
}


/*aqui comeca os produtos*/
.produtos {
    display: flex;
    height: 384px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: 135px;
}

.produto img {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    transition: transform 0.7s;
    transform: translateX(0px) scale(0.9);
}
.produto img:hover{
    width: 250px;
    height: 250px;
    transform: translateX(10px) scale(1.2);
}

.produtos h1 {
    text-align: center;
    width: 115px;
    height: 24px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Anton', sans-serif;
    border-radius: 10px;
    background-color: #ed1f72;
    font-size: 15px;
    color: rgb(255 255 255);
}
/*aqui termina os produtos*/



/*aqui comeca o painel de presentes*/
.painel-presentes-text h1 {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 7px;
    margin-bottom: -45px;
    color: rgb(255 73 146);
}

.painel-presentes {
    display: grid;
    padding: 30px;
    margin-top: 30px;
    margin: 50px auto;
    grid-template-columns: 200px 400px 600px;
    grid-template-rows: 150px 100px 100px;
    grid-gap: 1rem;
}

.item1 {
    background-color: #c1c1c1;
    color: white;
    cursor: pointer;
    border-radius: 5px 20px 20px 20px;
}

.item2 {
    background-color: #ff1a76;
    background-size: cover;
    cursor: pointer;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 20px 5px 20px 20px;
}

.item3 {
    background-color: #ff1a76;
    background-size: cover;
    cursor: pointer;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 20px 20px 20px 5px;
}

.item4 {
    background-color: #c1c1c1;
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
}

.item5 {
    background-color: #ff1a76;
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
}

.item6 {
    background-color: #c1c1c1;
    cursor: pointer;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 15px 15px 5px 15px;
}
/*aqui termina o painel de presentes*/

/*aqui comeca a div informativo*/
.informativo{
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #f2f3f8;
}
.informativo h1{
    width: 100%;
    font-size: 26px;
    color: #DA0812;
    text-align: center;
}
.informativo h2{
    width: 100%;
    font-size: 26px;
    color: #6e6e6e;
    text-align: center;
}
/*aqui comeca o rodape*/
.rodape-info {
    display: flex;
    margin-top: 40px;
    width: 100%;
    background-color: #56b1de;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rodape-info a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.rodape {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(10 33 48);
}

.rodape h1 {
    font-family: 'Inconsolata', monospace;
    color: #56b1de;
    font-size: 20px;
    text-align: center;
}

.informacoes h1{
    text-align: center;
    color: #3b242a;
}

.informacoes-2 h1{
    text-align: center;
    color: #3b242a;
}
/*aqui termina o rodape*/
