html,body {height: 100px; margin: 0px; padding: 0px;}

body {
    display: flex;
    /* background-image: url("../img/arranjo.jpg"); */
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}


/*aqui comeca o menu-1*/

#menu-1 ul li {
    display: inline;
    margin-left: 83px;
}

#menu-1 ul {
    list-style: none;
    height: 58px;
    padding: 0;
    margin: 0;
    margin-top: -17px;
    line-height: 2;
    background-color: rgb(255 255 255 / 95%);
    border-bottom: 0.1px solid #dadada;
}

#menu-1 ul a {
    color: rgb(109 54 76);
    font-family: monospace;
    /* margin-right: 9%; */
    margin-left: 38px;
    font-size: 22px;
    padding: 13px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

#menu-1 ul a:hover {
    border-bottom: 2px solid #ffffff;
    transition: cubic-bezier(0.25, 0.1, 0.93, -0.15);
}

#menu-1 h1 {
    color: rgb(255 255 255);
    font-family: monospace;
    font-size: 18px;
    margin: 0%;
    text-align: center;
    text-decoration: none;
}
#menu-1 img{
    width: 50PX;
    height: 50px;
    background-size: cover;
    MARGIN-LEFT: auto;
    MARGIN-RIGHT: auto;
}
/*aqui termina o menu-1*/


/*aqui comeca o menu-2*/
.menu-2{
    width: 100%;
    height: 100px;
}
.menu-2 img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
/*aqui acaba o menu-2*/


/*textos de meio de site*/
.texto{
    padding: 20px;
    margin-top: 70px;
}
.texto h2 {
    text-align: left;
    height: 7px;
    color: #f12760;
    margin-left: 80px;
    margin-top: -46px;
    font-family: "proxima-nova", sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    background-image: linear-gradient( 75deg, #f2285c 0%, #f2295d 100%);
    -webkit-background-clip: text;
}

.texto img{
    display: flex;
    width: 44%;
    height: 431px;
    margin-left: 57%;
    margin-top: -50px;
}
/* fim textos de meio de site*/

.faixa-horizontal{
    height: 142PX;
    background-color: #e91a80;
    background-image: linear-gradient(
    90deg, #ec1e77 0%, #f2295b 100%);
}
.faixa-horizontal h1{
    text-align: center;
    font-size: 70px;
    color: white;
    font-family: monospace;
    line-height: 1.8;
    padding: 0;
    margin-top: 0;
}
.faixa-horizontal h2{
    text-align: center;
    font-size: 21px;
    color: white;
    font-family: monospace;
    line-height: 2.1;
    padding: 0;
    margin-top: -45px;
}
#whatsapp  h1{
    position: fixed;
    top: 100%;
    width: 8em;
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    height: 2em;
    line-height: 2;
    margin-left: -3%;
    border-radius: 23px;
    margin-top: -2.5em;
    background-color: #0f9d58;
}  
#whatsapp img{
    width: 39px;
    height: 39px;
    position: fixed;
    top: 93.7%;
    left: 97px;
}


/*aqui comeca os produtos*/
.produtos {
    display: flex;
    height: 384px;
    width: 100%;
    background-color: #b1b1b129;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: 135px;
}

.produto img {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    transition: transform 0.7s;
    transform: translateX(0px) scale(0.9);
}
.produto img:hover{
    width: 250px;
    height: 250px;
    transform: translateX(10px) scale(1.2);
}

.produtos h1 {
    text-align: center;
    width: 115px;
    height: 24px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    font-family: MONOSPACE;
    border-radius: 10px;
    /* background-color: #ed1f72; */
    font-size: 20px;
    color: rgb(99 99 99);
}
/*aqui termina os produtos*/



/*aqui comeca o painel*/
.painel-presentes-box h1 {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 7px;
    margin-bottom: -45px;
    color: rgb(255 73 146);
}

.painel-presentes {
    width: 100%;
    background-image: linear-gradient(90deg , #404040 0%, #6b6b6b 100%);
    padding: 73px;
}
.painel-presentes h1{
    line-height: 0;
}

/*aqui termina o painel */

/*aqui comeca a div informativo*/
.informativo{
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #f2f3f8;
}
.informativo h1{
    width: 100%;
    font-size: 26px;
    color: #DA0812;
    text-align: center;
}
.informativo h2{
    width: 100%;
    font-size: 26px;
    color: #6e6e6e;
    text-align: center;
}
/*aqui comeca a div accordion*/
button#btn-accordion{
    color: white;
    text-decoration: none;
    font-size: 40px;
    text-shadow: 2px 2px 3px gray;

}

div.div-titulo{
    background-color: rgb(237 32 115);
}