/*Geral*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    border: none;
}

body {
    background-color: white;
}

textarea,
input:focus {
    outline: none;
}

a,
label {
    font-size: .8rem;
}

a:hover {
    color: #08558B;
}


/*container login*/

#contL {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#949494), to(#464646));
    background: -moz-linear-gradient(top, #8b3636, #000000);
    filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#CCCCCC', EndColorStr='#000000');
}


/*Formulario*/

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label,
input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid #757575;
    padding: 10px;
    font-size: 1rem;
}

input:focus {
    border-bottom: 2px solid #004b81;
}

#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #08558B;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1ee05f;
    transition: .5s;
}


/*registrar*/

#register-cont {
    margin-bottom: 10px;
}
.btn-voltar{
    color: white;
    text-align: center;
    background-color: blue;
    width: 50px;
    border-radius: 10px;
}