html, body {height: 100px; margin: 0px; padding: 0px;}

body{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    background-size: cover;
}
/*aqui começa o menu-1*/
#menu-horizontal ul{
    list-style: none;
    height: 43px;
    padding: 0;
    margin: 0;
    background-color: rgb(0 0 0 / 64%)
}

#menu-horizontal ul li{
    display: inline;
}

#menu-horizontal ul a{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 13px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

#menu-horizontal ul a:hover{
    background-color: rgb(45, 138, 192);
}
/*aqui termina o menu-1*/



/*aqui começa o menu-2*/
.menu-2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #40404063;
    box-shadow: inset 0px -1px 0px 0px #27272778;
}

.menu-2 ul li{
    display: inline;
}

.menu-2 ul a{
    color: rgb(51, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    width: 21%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

.menu-2 ul a:hover{
    background-color: rgb(41, 150, 177);
}
/*aqui acaba o menu-2*/


/* incio prateleiras*/
.prateleira li{
    display: inline-block;
    width: 32%;
}

.prateleira img{
    width: 320px;
    height: 320px;
    margin: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.prateleira li{
    text-align: center;

}
.botao-ver-prateleira {
     
    display: inline-block;
    position: relative;
    top: 10px;
    right: 0;
    left: -35%;
    border: 0;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FFF;
    background: #d41818eb;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
    border-radius: 0.5em;
    box-shadow: 3px 3px 0 3px #960707;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.botao-ver-prateleira:active {
    box-shadow: 0 0 0 0 #930,
    inset 4px 4px 4px #930;
    transform: translate(6px, 6px);
}

/* final prateleiras*/


/*aqui começa o rodapé*/
.rodape-info{
    width: 97%;
    height: 400px;
    background-color:rgb(0 0 0 / 58%);
    padding: 20px;
    margin: -20px auto;
    color: rgb(0, 0, 0);
    text-align: center;
}
.rodape-info a{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
} 

.rodape{
    position: relative;
    left: 0;
    top: 20%;
    bottom: 0;
    width: 97%;
    padding: 20px;
    background-color: rgb(45 46 46);
}

.rodape h1{
    font-family: 'Inconsolata', monospace;
    color: seashell;
    font-size: 20px;
    text-align: center;
}
/*aqui termina o rodapé*/