html, body {height: 100px; margin: 0px; padding: 0px;}

body{
    display: flex;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    flex-direction: column;
}
/*aqui comeca o menu-1*/
#menu-1 ul li{
    display: inline;
}

#menu-1 ul{
    list-style: none;
    height: 43px;
    padding: 0;
    margin: 0;
    background-color: #0a2130;
}

#menu-1 ul a{
    color: #d8f4ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 12px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

#menu-1 ul a:hover{
    background-color: #d8f4ff;
    color: #3b242a;
}

#menu-1 h1{
    color: rgb(255 255 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin: 0%;
    text-align: right;
    padding: 13px;
    display: inline-block;
    text-decoration: none;
}

/*aqui termina o menu-1*/

/* incio prateleiras*/
.box{
    width: 100%;
}
.prateleira{
    position: relative;
}
.prateleira li{
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 30%;
    /* height: 463px; */
    box-shadow: 0px 0px 1px 0px black;
}

.prateleira img{
    width: 175px;
    height: 175px;
    margin: 30px;
    margin-top: -18px;
    border-radius: 10px;
}
.prateleira ul{
    position: relative;
    MARGIN: 34px;
}
.prateleira ul h2{ /*preco*/
    font-size: 24px;
    position: relative;
    font-family: monospace;
}
.prateleira ul h1{ /*nome produto*/
    font-size: 30px;
    font-family: monospace;
    margin-top: 0;
}
.prateleira ul p{
    width: 100%;
    max-width: 340px;
    text-align: center;
    height: 0px;
    margin-top: -21px;
}
.prateleira li{
    text-align: center;

}
.botao-ver-prateleira {
    display: inline-block;
    position: relative;
    height: 32px;
    border: 0;
    margin-top: 3px;
    margin: 15px;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FFF;
    background: #d41818eb;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
    border-radius: 0.5em;
    box-shadow: 3px 3px 0 3px #960707;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.botao-ver-prateleira:active {
    box-shadow: 0 0 0 0 #930,
    inset 4px 4px 4px #930;
    transform: translate(6px, 6px);
}

/* final prateleiras*/


/*aqui comeca o rodape*/
.rodape-info{
    width: 97%;
    height: 400px;
    background-color:rgb(0 0 0 / 58%);
    padding: 20px;
    margin: -20px auto;
    color: rgb(0, 0, 0);
    text-align: center;
}
.rodape-info a{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
} 

.rodape{
    position: relative;
    top: 461%;
    bottom: 0;
    width: 97%;
    padding: 20px;
    background-color: #56b1de;
}

.rodape h1{
    font-family: 'Inconsolata', monospace;
    color: #0a2130;
    font-size: 20px;
    text-align: center;
}
/*aqui termina o rodape */