html, body {height: 100px; margin: 0px; padding: 0px;}

body{
    display: flex;
    background-image: url("../img/body.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}
/*aqui começa o menu-1*/
#menu-1 ul li{
    display: inline;
}

#menu-1 ul{
    list-style: none;
    height: 43px;
    padding: 0;
    margin: 0;
    background-color: rgb(0 0 0 / 76%)
}

#menu-1 ul a{
    color: rgb(255 165 182);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 13px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

#menu-1 ul a:hover{
    background-color:#ffa5b6;
    color: #3b242a;
}

#menu-1 h1{
    color: rgb(255 255 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin: 0%;
    text-align: right;
    padding: 13px;
    display: inline-block;
    text-decoration: none;
}

/*aqui termina o menu-1*/



/*aqui comeÃ§a o menu-2*/
.menu-2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    box-shadow: inset 0px -1px 0px 0px #27272778;
}

.menu-2 ul li{
    display: inline;
}

.menu-2 ul a{
    color: rgb(51, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    width: 24%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

.menu-2 ul a:hover{
    background-color:#ffa5b6;
}
/*aqui acaba o menu-2*/


/*textos de meio de site*/
.texto{
    padding: 20px;
    margin-top: 70px;
}
.texto h1{
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
}

.texto h2{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}

/* fim textos de meio de site*/



/*aqui comeÃ§a os produtos*/
.produtos {
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px 10px 10px;
    margin-top: 30px;
    margin-left: 135px;
    margin-right: 135px;
    box-shadow: 0px 0px 0px 2px #27272740;
}

.produto img{
    width: 250px;
    height: 250px;
    margin-top: 10px;
}

.produtos h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    color: rgb(36, 36, 36);
}
/*aqui termina os produtos*/


/*aqui comeca o painel de presentes*/
.painel-presentes-text h1{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 85px;
    margin-bottom: -37px;
    color: rgb(39, 39, 39);
}
.painel-presentes{
    display: grid;
    padding: 30px;
    margin-top: 30px;
    margin: 50px auto;
    grid-template-columns: 200px 400px 600px;
    grid-template-rows: 150px 100px 100px;
    grid-gap: 1rem;
}

.item1 {
    background-color:darkgrey;
    color: white;
    cursor: pointer;
}
  
.item2 {
    background-color: darkgrey;
    background-size: cover;
    cursor: pointer;
    grid-column-start: 2;
    grid-column-end: 4;
}
  
.item3 {
    background-color: darkgrey;
    background-size: cover;
    cursor: pointer;
    grid-row-start: 2;
    grid-row-end: 4;
}

.item4 {
    background-color: darkgrey;
    cursor: pointer;
}

.item5 {
    background-color: darkgrey;
    cursor: pointer;
}

.item6 {
    background-color: darkgrey;
    cursor: pointer;
    grid-column-start: 2;
    grid-column-end: 4;
    
}
/*aqui termina o painel de presentes*/



/*aqui comeÃ§a o painel de imagens*/
.painel-img{
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    /*background-image: url("../img/balÃµes.jpg");*/
    background-size: cover;
    margin: 0px auto;
    margin-bottom: 7%;
    border-radius: 10% 10px;
}
.painel-img img{
    width: 400px;
    height: 350px;
    background-size: cover;
    
}
/*aqui termina o painel de imagens*/


/*aqui comeÃ§a o rodapÃ©*/
.rodape-info{
    width: 100%;
    height: 400px;
    background-color: rgb(0 0 0 / 58%);
    margin: -20px auto;
    color: rgb(255 255 255);
    text-align: center;
}
.rodape-info a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
} 

.rodape{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(45 46 46);
}

.rodape h1{
    font-family: 'Inconsolata', monospace;
    color: seashell;
    font-size: 20px;
    text-align: center;
}
/*aqui termina o rodapÃ©*/