/* código produzido por Italo*/
*{margin: 0%; padding: 0%;}

/*estrutura carrossel*/
.slider{
  width: 1280px;
  height: 300px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px 10px 10px;
}

.slider input{
  display: none;
}

/*fim strutura carrossel*/


.slides{
  width: 500%;
  height: 300px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 1366px;
  height: 300px;
}

/*navegação manual inicio*/

.navigation-manual{
  position: absolute;
  width: 1280px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 5px solid #4c4e4e;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #ffa5b6;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}



