/* cÃƒÂ³digo produzido por Italo*/

/*estrutura carrossel*/
.slider{
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slider input{
  display: none;
}

/*fim strutura carrossel*/


.slides{
  width: 500%;
  height: 300px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 300px;
}

/*navegaÃƒÂ§ÃƒÂ£o manual inicio*/

.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 10px solid #554e54;
  padding: 0px;
  border-radius: 19px;
  cursor: pointer;
  transition: 0.3s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #d8f4ff;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}



