html,body { margin: 0px; padding: 0px;}

body{
    background-image: url("../../../../img/logadoadmin.jpg");
    background-size: cover;
}


.nome h1{
    text-align: center;
    color: #3a3a3a;
    margin: 5px;
    background-color: #5ddcd4;
    font-family: monospace;
}
.cor{
    width: 99%;
    height: 30px;
    border: 1px solid;
    background-color: #ffffff;
    float: left;
    margin-top: 9px;
    color:#555555;
    border-radius: 10px 10px;
    text-align: center;
    border-color: #888888;
    cursor: pointer;
}
.cor:hover{
    background:#5ddcd4 ;
}
.cor h1{
    text-align: center;
    font-size: 15px;
}

.box{
    background-color: white;
    width: 95%;
    height: 570px;
    padding: 7px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 0px 1px rgb(0 0 0);
}
.arquivos{
    width: 26%;
    height: 130px;
    margin-top: 24px;
    background-color: rgb(153 153 153 / 43%);
    box-shadow: 0px 0px 7px 0px black;
    margin-left: auto;
    margin-right: auto;
}
.caixa{
    text-align: center;
    font-family: monospace;
}
.btn-prod{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: grab;
}
.btn-adicionar {
    width: 7%;
    height: 100px;
    margin-top: 154px;
    margin-left: auto;
    margin-right: auto;
}
.tipo{
    width: 101%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}