html,body { margin: 0px; padding: 0px;}

body{
    background-image: url("../../../../img/arranjo.png");
    background-size: cover;
}

.box{
    background-color: #ffffff;
    width: 58%;
    height: 490px;
    padding: 8px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 0px 2px rgb(119 119 119);
}

.nome {
    width: 100%;
    height: 39px;
    margin-left: auto;
    margin-top: -28px;
    background-color: #ff1a76;
    font-family: monospace;
}
.nome h1{
    text-align: center;
    color: #ffffff;
    font-size: 32px;
}

.estilo{
    width: 36%;
    height: 169%;
    border: 1px solid;
    border-bottom: 1px solid;
    background-color: #efefef;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.estilo:hover{
    border-color: #38f33d;
    background-color: lightgreen;
}
.estilo h1{
    text-align: center;
    margin-top: 7px;
    font-size: 47px;
    font-family: monospace;
    height: 35px;
}


.arquivos{
    width: 41%;
    height: 210px;
    margin-top: 24px;
    background-color: rgb(255 255 255);
    box-shadow: 0px 0px 0px 2px #797979;
    margin-left: auto;
    margin-right: auto;
}

.caixa{
    text-align: center;
    font-family: monospace;
}

.btn-prod{
    width: 100%;
    height: 20px;
    margin-top: 55px;
    cursor: grab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-editar {
    width: 50%;
    height: 50px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

#quant{
    width: 18px;
    height: 18px;
    float: right;
    position: relative;
    cursor: pointer;
    right: 20%;
    border: 1px solid;
    border-color: rgb(45 45 45);
    background-color: white;
    margin: 1px 3px 0px 3px;
}
#quant:hover{
    background-color: rgb(255, 255, 255);
}
#quant:active{
    background-color: #00ff80;
    width: 18px;
    height: 18px;
}

.btn-voltar{
    display: block;
    width: 30%;
    max-width: 328px;
    height: 38px;
    background-color: #ff1a76;
    border-radius: 31px;
    font-family: Arial, tahoma;
    font-size: 21px;
    color: rgb(255 255 255);
    text-align: center;
    text-decoration: none;
    line-height: 42px;
    margin: 0px auto 10px auto;
    margin-top: 17px;
    box-shadow: 0px 0px 0px 4px rgb(255 255 255);
}