html,body { margin: 0px; padding: 0px;}

body{
    background-image: url("../../../img/1.jpg");
}

.nome {
    width: 100%;
    height: 39px;
    margin-left: auto;
    margin-top: -28px;
    background-color: #fffffff2;
    font-family: monospace;
}
.nome h1{
    text-align: center;
    color: #383838;
    font-size: 32px;
}
.cor{
    width: 41%;
    height: 30px;
    border: 1px solid;
    border-bottom: 2px solid;
    background-color: #f9f9f9;
    margin-top: 9px;
    text-align: center;
    border-color: #000000;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.cor:hover{
    border-color: #38f33d;
    color: #28d254;
    background-color: rgb(255 255 255);
}
.cor h1{
    text-align: center;
    margin-top: 7px;
    font-size: 15px;
    background-color: #e9e9e9;
    font-family: monospace;
    height: 23px;
}


.box{
    background-color: #423f3f91;
    width: 95%;
    height: 570px;
    padding: 8px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 0px 1px rgb(255 255 255);
}
.arquivos{
    width: 26%;
    height: 130px;
    margin-top: 24px;
    background-color: rgb(255 255 255);
    box-shadow: 0px 0px 3px 0px black;
    margin-left: auto;
    margin-right: auto;
}
.caixa{
    text-align: center;
    font-family: monospace;
}
.btn-prod{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: grab;
}
.btn-adicionar {
    width: 7%;
    height: 100px;
    margin-top: 154px;
    margin-left: auto;
    margin-right: auto;
}
.tipo{
    width: 101%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#quant{
    width: 20px;
    height:20px;
    float: right;
    position: relative;
    cursor: pointer;
    right: 23%;border: medium;
    border-color: rgb(42, 185, 42);
    background-color: white;
    margin: 1px 3px 0px 3px;      
}
#quant:hover{
    background-color: rgb(255, 255, 255);
}
#quant:active{
    background-color: #00ff80;
    width: 18px;
    height: 18px;
}