html,body { margin: 0px; padding: 0px;}

body{
    background-image: url("../../../img/arranjo.png");
    background-size: cover;
}

.box{
    background-color: #ffffff;
    position:relative;
    width: 82%;
    padding: 8px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 0px 2px rgb(121 121 121);
}

.nome {
    width: 100%;
    height: 39px;
    margin-left: auto;
    margin-top: -28px;
    background-color: #ff1a76;
    font-family: monospace;
}
.nome h1{
    text-align: center;
    color: #ffffff;
    font-size: 32px;
}

.arquivos{
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}
.conteudo{
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.produtos{
    background-color: #f3f3f3;
    width: 100%;
}

.btn-voltar {
    display: block;
    width: 30%;
    max-width: 328px;
    height: 38px;
    background-color: #ff1a76;
    border-radius: 31px;
    font-family: Arial, tahoma;
    font-size: 21px;
    color: rgb(255 255 255);
    text-align: center;
    text-decoration: none;
    line-height: 42px;
    margin: 0px auto 10px auto;
    margin-top: 14px;
    box-shadow: 0px 0px 0px 4px rgb(255 255 255);
}
